.striked-through {
  position: relative;
}

.striked-through::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 1px;
  background-color: black;
  transform: translateY(-50%);

  pointer-events: none;
}
