.page {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content {
  display: flex;
  flex: 1;
  margin-top: 60px; /* Adjust based on header height */
}

.leftColumn {
  flex: 1;
  border-right: 1px solid #000;
  padding: 20px;
  overflow-y: auto;
}

.rightColumn {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
